<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Crea tu itinerario </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="slide-full" mode="ios" pager="ios" scrollbar="ios">
    <ion-slide>

      <ion-card mode="ios">
        <img src="/assets/step1.svg" alt="" class="slide-image">
        <ion-card-header>
          <ion-card-title style="font-size: 20px;"> ¿Qué ciudad planea visitar? </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-select placeholder="Seleccione una ciudad" [(ngModel)]="ciudad">
            <ion-select-option *ngFor="let ciudad of ciudades" value="{{ciudad.ciudadNombre}}">{{ciudad.ciudadNombre}}</ion-select-option>
          </ion-select>
        </ion-card-content>
      </ion-card>

    </ion-slide>
    <ion-slide>

      <ion-card mode="ios">
        <img src="/assets/step2.svg" alt="" class="slide-image">
        <ion-card-header>
          <ion-card-title style="font-size: 20px;"> ¿Fechas de inicio y fin de su viaje? </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label text-left>Fecha inicial</ion-label>
          </ion-item>
          <ion-item>
            <ion-datetime displayFormat="MMMM DD YYYY" max="2099-10-31" placeholder="Seleccione la fecha inicial">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label text-left>Fecha final</ion-label>
          </ion-item>
          <ion-item>
            <ion-datetime displayFormat="MMMM DD YYYY" max="2099-10-31" placeholder="Seleccione la fecha final">
            </ion-datetime>
          </ion-item>
          <ion-button expand="full" fill="clear" (click)="openDetailsWithState()">Crear mi itinerario</ion-button>
        </ion-card-content>
      </ion-card>

    </ion-slide>
  </ion-slides>
</ion-content>


<!-- <ion-content>
    <ion-slides pager="true" class="slide-full" mode="ios" pager="ios" scrollbar="ios">
      <ion-slide *ngFor="let slide of slides">
  
        <ion-card mode="ios">
          <img [src]="slide.img" alt="" class="slide-image">
          <ion-card-header>
            <ion-card-title> {{ slide.titulo }} </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ slide.desc }}
          </ion-card-content>
        </ion-card>
  
      </ion-slide>
      <ion-slide>
        <ion-button expand="full" color="dark" fill="clear" (click)="onClick()">
          <ion-icon slot="start" name="bicycle"></ion-icon> Comenzar!!!
        </ion-button>
      </ion-slide>
    </ion-slides>
  
  </ion-content> -->