<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRATE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #formulario="ngForm">
    <ion-item>
      <ion-label position="floating" color="medium"> Nombre</ion-label>
      <ion-input type="text" name="nombre" [(ngModel)]="usuario.usuarioNombre" [ngModelOptions]="{standalone: true}"
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="medium">Password</ion-label>
      <ion-input type="password" minlength="4" maxlength="10" [(ngModel)]="usuario.usuarioClave"
        [ngModelOptions]="{standalone: true}" name="password" required>
      </ion-input>
      <!-- [(ngModel)]="usuario.usuarioClave" -->
    </ion-item>


    <ion-item>
      <ion-radio-group name="sexo" style="width: 100%;" [(ngModel)]="usuario.usuarioSexo"
        [ngModelOptions]="{standalone: true}">
        <ion-label color="medium">Sexo</ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label style="font-size: smaller;">Femenino</ion-label>
                <ion-radio slot="end" value="F"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label style="font-size: smaller;">Masculino</ion-label>
                <ion-radio slot="end" value="M"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="medium">Fecha Nacimiento</ion-label>
      <ion-datetime [(ngModel)]="usuario.usuarioFechaNacimiento" [ngModelOptions]="{standalone: true}"
        display-format="YYYY MM DD"></ion-datetime>
    </ion-item>

    <br>
    <br>
    <ion-button size="small" expand="full" fill="solid" type="submit" (click)="onSubmit(usuario)"
      [disabled]="formulario.invalid">
      <ion-icon slot="start" name="contact"></ion-icon> CREAR
    </ion-button>

  </form>

  <!-- 
  <form #formulario="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="password" type="text"></ion-input>
    </ion-item>
    <ion-button block color="primary" type="submit" [disabled]="formulario.invalid">
      Crear cuenta
    </ion-button>
  </form> -->
</ion-content>