<ion-content class="ion-padding">
      <ion-img src="/assets/Logo.svg" style="width: 269.92px; height: 60.75px; margin: 0 auto;"></ion-img>
    
      <ion-item>
        <ion-label style="color: lightgrey" position="floating">Correo</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color: lightgrey" position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <br>
    <ion-button expand="block" color="primary" routerLink="/dashboard/tabs/tab1">Login</ion-button>
</ion-content>
<ion-img src="/assets/isotipo.svg"></ion-img>