<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-margin" style="display: flex;flex-direction: row;justify-content: center;">
    <img style="width: 100px; height: 100px;" src="assets/user.svg" alt="">
  </div>
  <div class="ion-padding" style="text-align: center">
      <ion-label> {{ userLogin.usuarioNombre }} </ion-label>
  </div>
  <ion-button expand="full" fill="clear" size="medium" (click)="logout()">
    Cerrar sesión
  </ion-button>

</ion-content>