<ion-header no-border>
  <ion-toolbar>
    <h2 class="ion-padding ion-text-left" style="margin: 0px !important">
      Mis próximos viajes
    </h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let itinerario of itinerariosList" routerLink="/itinerario-detalle"  class="welcome-card">
    <img src="{{getCityImage(itinerario.ciudad_Id)}}" />
    <ion-card-header>
      <ion-card-subtitle text-left>{{itinerario.itinerarioEncabezadoFechaInicio | date }}</ion-card-subtitle>
      <ion-card-title text-left>{{ itinerario.itinerarioEncabezadoNombre }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>