<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard/tabs/tab1"></ion-back-button>
      </ion-buttons>
    <ion-title>itinerario-detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="itinerarioDetailHeader">
      <ion-img class="itinerarioDetailHeader_image" src="/assets/Roatan.jpg">
      </ion-img>
      <div class="itinerarioDetailHeader_city"> Roatan City </div>
      <div class="itinerarioDetailHeader_time"> 15 de Diciembre - 18 de Diciembre </div>
    </div>
    <div class="dayTitle">15 de Diciembre</div>
     <div style="display: flex; flex-direction: row; overflow: scroll;">
       
          <ion-card style="min-width: 140px;" routerLink="/itinerario-detalle"  class="welcome-card">
            <img src="/assets/Roatan.jpg" />
            <ion-card-header>
              <ion-card-subtitle text-left>15 de diciembre, 2019</ion-card-subtitle>
              <ion-card-title text-left>Viaje a Roatan</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card style="min-width: 140px;" routerLink="/itinerario-detalle"  class="welcome-card">
            <img src="/assets/Roatan.jpg" />
            <ion-card-header>
              <ion-card-subtitle text-left>15 de diciembre, 2019</ion-card-subtitle>
              <ion-card-title text-left>Viaje a Roatan</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card style="min-width: 140px;" routerLink="/itinerario-detalle"  class="welcome-card">
            <img src="/assets/Roatan.jpg" />
            <ion-card-header>
              <ion-card-subtitle text-left>15 de diciembre, 2019</ion-card-subtitle>
              <ion-card-title text-left>Viaje a Roatan</ion-card-title>
            </ion-card-header>
          </ion-card>
          <div style="min-width: 170px;">
            <div class="addActividad">

            </div>
          </div>
     </div>
     <div class="dayTitle">16 de Diciembre</div>
     <div style="display: flex; flex-direction: row; overflow: scroll;">
          <ion-card style="min-width: 140px;" routerLink="/itinerario-detalle"  class="welcome-card">
            <img src="/assets/Roatan.jpg" />
            <ion-card-header>
              <ion-card-subtitle text-left>15 de diciembre, 2019</ion-card-subtitle>
              <ion-card-title text-left>Viaje a Roatan</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card style="min-width: 140px;" routerLink="/itinerario-detalle"  class="welcome-card">
            <img src="/assets/Roatan.jpg" />
            <ion-card-header>
              <ion-card-subtitle text-left>15 de diciembre, 2019</ion-card-subtitle>
              <ion-card-title text-left>Viaje a Roatan</ion-card-title>
            </ion-card-header>
          </ion-card>
          <div style="min-width: 170px;">
            <div class="addActividad">

            </div>
          </div>
     </div>

    </ion-content>